body {
  background-color: #F2EAE2;
  margin: 0;
  height: 100vh;
  max-width: 1650px;
  overflow: hidden;
}

.card {
  width: 600px;
  height: 450px;
  min-width: 700px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);  
  background-color: #fff;
  border-radius: 10px; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  display: grid; 
  grid-template-columns: 1fr 1fr;
}

.card-img {
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-img img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: inherit;
}

.title {
  color: #6C7289;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 5px;
  text-align: left;
  margin: 0;
  /* margin-bottom: 1.25rem; */
  /* margin-top: 1rem; */
}

.card-name {
  color: #1C232B;
  font-family: Fraunces;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
  /* margin-bottom: 1.25rem; */
}

.card-content {
  max-width: 100%;
  max-height: 100%;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content {
  position: absolute;
  width: 80%; /* Set the width of the container to match the square */
}

.content:nth-child(1) {
  top: 2rem;
}

.content:nth-child(2) {
  top: 7.5rem;
  transform: translateY(-50%);
}

.content:nth-child(3) {
  top: 15rem;
  transform: translateY(-50%);
}

.content:nth-child(4) {
  top: 20rem;
  transform: translateY(-50%);
}

.content:nth-child(5) {
  bottom: 2rem;
  width: 70%;
}

.card-description {
  color: #6C7289;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}

.prices {
  display: flex;
  margin-bottom: 1.5rem;
}

.actual-price {
  color: #3D8168;
  font-family: Fraunces;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}

.old-price {
  color: #6C7289;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  padding-left: 10px;
  margin: 0;
  text-decoration: line-through;
  text-decoration: under;
}

.btn-green {
  text-decoration: none;
  background-color: #388954;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  margin: 0;
  /* margin-top: 1rem !important; */
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
}

.btn-green:hover {
  background-color: #225233;
}

#id {
  width: 20px;
}
