body {
  background-color: #F2EAE2;
  margin: 0;
  height: 100vh;
  max-width: 1650px;
  overflow: hidden;
}

.card {
  width: 50%;
  height: 50%;
  min-width: 600px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);  
  background-color: #fff;
  border-radius: 10px; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  display: grid; 
  grid-template-columns: 1fr 1fr;
}

.card-img {
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-img img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: inherit;
}

.title {
  color: #6C7289;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 5px;
  text-align: left;
  margin: 0;
  margin-bottom: 1rem;
}

.card-name {
  color: #1C232B;
  font-family: Fraunces;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
  margin-bottom: 1.25rem;
}

.card-content {
  max-width: 100%;
  max-height: 100%;
  padding: 1.5rem 2rem;
  margin: 0 auto;
}

.card-description {
  color: #6C7289;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
  margin-bottom: 1.25rem;
}

.prices {
  display: flex;
  margin-bottom: 1.5rem;
}

.actual-price {
  color: #3D8168;
  font-family: Fraunces;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
}

.old-price {
  color: #6C7289;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  padding-left: 10px;
  margin: 0;
}

.btn-green {
  text-decoration: none;
  background-color: #388954;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn-green:hover {
  background-color: #225233;
}
